.back-img{
    background-image: url(../img/dcca8efd-2592-4a44-ae49-29bb53239e6c.jpg);
    height: auto;
padding-top: 6rem;
padding-bottom: 3rem;
}
.back-info{
    background-color: rgba(0, 0, 0, 0.441);
}

.btn.confirm{
  background-color: #000000 ;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  width: 8vw;
  transition: all 0.5s;
  cursor: pointer;
  transition: background-color 0.9s;
} 
.btn.confirm:hover{
  background-color: #ff0000  ;
  transition: background-color 0.9s;
} 

select {
    background-color: black;
    color: white;
    border: none; 
    border-radius: 5px;
    padding: 4px;
   
  }

